<!DOCTYPE html>
<html>
<head>
    <title>Popular Movies</title>
	<meta charset="utf-8" />
    <link rel="shortcut icon" href="">
    <link rel = "stylesheet"
         href = "static/bower_components/angular-material/angular-material.min.css">
    <script src = "static/bower_components/angular/angular.min.js"></script>
    <script src = "static/bower_components/angular-animate/angular-animate.min.js"></script>
    <script src = "static/bower_components/angular-aria/angular-aria.min.js"></script>
    <script src = "static/bower_components/angular-material/angular-material.min.js"></script>
    <script src = "static/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <link rel = "stylesheet" href = "https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel = "stylesheet" href = "static/css/styles.css">

    <script language = "javascript" src = "static/js/popularMovies.js"></script>
</head>

  <body ng-app="popularMovies">
    <div ui-view></div>
  </body>
</html>